{% extends 'data/base.html' %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Why this site was made?</h1>
    <p class="lead">With the recent outbreak of SARS-CoV-2, also known as the coronavirus, this website was made to compile data in an easy to read fashion about the state of the U.S economy. While I am no economist myself, I made this site to provide the raw numbers in a digestible fashion. I hope you will find comfort in these numbers in the coming months as the economy begins to recover. For now, sit tight and stay safe! Thank you!</p>
   	<footer class="blockquote-footer">Manu Gupta <cite title="Source Title">from useco.live</cite></footer>
  </div>
</div>



{% endblock content %}