<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="refresh" content = "60">
</head>
<body>
	<p>{{EUR_USD}}</p>
	<p>{{Bitcoin_USD}}</p>
	<p>{{Ethereum_USD}}</p>
	<p>{{USD_JPN}}</p>
	<p>{{GBP_USD}}</p>
	<p>{{AUD_USD}}</p>
	<p>{{NZD_USD}}</p>
	<p>{{USD_CNY}}</p>
	<p>{{USD_HKD}}</p>
	<p>{{USD_SGD}}</p>
	<p>{{USD_INR}}</p>
	<p>{{USD_MXN}}</p>
	<p>{{USD_PHP}}</p>
	<p>{{USD_IDR}}</p>
	<p>{{USD_THB}}</p>
	<p>{{USD_MYR}}</p>
	<p>{{USD_ZAR}}</p>
	<p>{{USD_RUB}}</p>
	<p>{{EUR_USD_CHANGE}}</p>
	<p>{{Bitcoin_USD_CHANGE}}</p>
	<p>{{Ethereum_USD_CHANGE}}</p>
	<p>{{USD_JPN_CHANGE}}</p>
	<p>{{GBP_USD_CHANGE}}</p>
	<p>{{AUD_USD_CHANGE}}</p>
	<p>{{NZD_USD_CHANGE}}</p>
	<p>{{USD_CNY_CHANGE}}</p>
	<p>{{USD_HKD_CHANGE}}</p>
	<p>{{USD_SGD_CHANGE}}</p>
	<p>{{USD_INR_CHANGE}}</p>
	<p>{{USD_MXN_CHANGE}}</p>
	<p>{{USD_PHP_CHANGE}}</p>
	<p>{{USD_IDR_CHANGE}}</p>
	<p>{{USD_THB_CHANGE}}</p>
	<p>{{USD_MYR_CHANGE}}</p>
	<p>{{USD_ZAR_CHANGE}}</p>
	<p>{{USD_RUB_CHANGE}}</p>
	<p>{{EUR_USD_CHANGE_PERCENT}}</p>
	<p>{{Bitcoin_USD_CHANGE_PERCENT}}</p>
	<p>{{Ethereum_USD_CHANGE_PERCENT}}</p>
	<p>{{USD_JPN_CHANGE_PERCENT}}</p>
	<p>{{GBP_USD_CHANGE_PERCENT}}</p>
	<p>{{AUD_USD_CHANGE_PERCENT}}</p>
	<p>{{NZD_USD_CHANGE_PERCENT}}</p>
	<p>{{USD_CNY_CHANGE_PERCENT}}</p>
	<p>{{USD_HKD_CHANGE_PERCENT}}</p>
	<p>{{USD_SGD_CHANGE_PERCENT}}</p>
	<p>{{USD_INR_CHANGE_PERCENT}}</p>
	<p>{{USD_MXN_CHANGE_PERCENT}}</p>
	<p>{{USD_PHP_CHANGE_PERCENT}}</p>
	<p>{{USD_IDR_CHANGE_PERCENT}}</p>
	<p>{{USD_THB_CHANGE_PERCENT}}</p>
	<p>{{USD_MYR_CHANGE_PERCENT}}</p>
	<p>{{USD_ZAR_CHANGE_PERCENT}}</p>
	<p>{{USD_RUB_CHANGE_PERCENT}}</p>
	<p>{{USDX}}</p>
</body>
</html>